.quoraD {
    cursor: pointer;
}

#Qimg {
    font-size: 2rem;
    color: rgb(245, 12, 12);
}


.custum_header .my_img {
    border-radius: 100% !important;
    width: 50vh;
    margin-left: auto;
    margin-right: auto;
    height: 50vh;
    transition: .5s ease-out;

}

.custum_header .my_img:hover {
    width: 55vh;
    height: 55vh;

}


.custum_header .my_name_cont {
    display: flex;
}

.custum_header .my_name_cont .my_name {
    color: var(--main-colour);
    display: inline;
    /* Position text */
    margin-left: 0;
}

.custum_header .my_name_cont .my_self {
    margin-right: auto;
    position: static;
    /* Position text */


}

.custum_header .hello {
    margin-right: auto;
    font-size: 1.8rem;
    margin-left: 0;


}



.custum_header .warrper {
    display: inline-flex;
}

.warrper .dynamic-text {
    /* margin-left: 15px; */
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.custum_header .warrper li {
    list-style: none;
    color: #FC6D6D;
    font-size: 60px;
    font-weight: 600;
    top: 0;
    position: relative;
    animation: step 9s steps(4) infinite;
}

/* step Animatin  */
@keyframes step {
    100% {
        top: -360px;
    }
}


.dynamic-text li span {
    position: relative;
}

.dynamic-text li span::after {
    content: "";
    position: absolute;
    left: 0;
    background: transparent;
    height: 100%;
    width: 100%;
    border-left: 2px solid #FC6D6D;
    animation: typing 2s steps(15) infinite;
}

/* Typing Animatin  */
@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

.custum_header .warrper .static {
    font-size: 60px;
}

.custum_header .div .nav .a {
    background: red !important;
}

body {
    font-family: 'Noto Sans', sans-serif !important;

}

.my_title {
    text-align: center;
    margin-top: 5vh;
}



.groups {
    background: transparent;
    margin-top: 2vh;
    margin-bottom: 7vh;
}

.my_card {
    margin-top: 5vw !important;
    padding: 1vh;
    min-height: 90%;
    max-height: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--gray-colour);
    transition: .5s ease;
    cursor: pointer;
}

.my_card div p {
    display: inline-block;
    width: 180px;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.my_card:hover {
    width: 25rem;
    box-shadow: 0 .6rem 5rem var(--shadow-colour);
}

.btn {
    background: var(--main-colour);
    transition: .5s ease;
    border-color: var(--main-colour);
    box-shadow: 0 .5rem .5rem var(--shadow-colour);

}

.btn:hover {
    background: transparent;
    color: var(--main-colour);
    border-color: var(--main-colour);

}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.vw;
    height: 2.vw;
    background: transparent;
    border: .2rem solid var(--main-colour);
    border-radius: 30%;
    box-shadow: 0 .5rem .5rem var(--shadow-colour);
    font-size: 2rem;
    color: var(--main-colour);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-colour);
    color: var(--white-colour);
}

#YTIFRAME{
    display: block;
}


.mybtn {
    display: inline-block;
    padding: .5rem 1.3rem;
    background: var(--main-colour);
    border-radius: .8rem;
    box-shadow: 0 .3rem .5rem var(--shadow-colour);
    font-size: 1.6rem;
    color: var(--white-colour);
    border: .2rem solid transparent;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.mybtn:hover {
    background: transparent;
    color: var(--main-colour);
    border-color: var(--main-colour);

}


.my_card_img {
    top: 50%;
}


@media (max-width:650px) {
    .custum_header .my_img {
        border-radius: 100% !important;
        width: 30vh;
        height: 30vh;
        margin-left: auto;
        margin-right: auto;
        transition: .5s ease-out;

    }

    .my_card {
        min-height: fit-content;
        max-height: fit-content;
    }

    .custum_header .my_img:hover {
        width: 35vh;
        height: 35vh;

    }
}



@media (max-width:1280px) {
    .custum_header .my_name_cont .my_name {
        color: var(--main-colour);
        display: inline;
        margin-left: 0;
        font-size: 3.8vh;
    }

    .custum_header .my_name_cont .my_self {
        margin-right: auto;
        position: static;
        /* Position text */
        font-size: 3.8vh;


    }

    .custum_header .hello {
        margin-right: auto;
        font-size: 1.8rem;
        margin-left: 0;


    }
}


@media (max-width:1023px) {
    #YTIFRAME{
        display: none;
    }
    .custum_header .my_name_cont .my_name {
        color: var(--main-colour);
        display: inline;
        margin-left: 0;
        font-size: 3.2vh;
    }

    .custum_header .my_name_cont .my_self {
        margin-right: auto;
        position: static;
        /* Position text */
        font-size: 3.2vh;


    }

    .custum_header .hello {
        margin-right: auto;
        font-size: 1.3rem;
        margin-left: 0;


    }
}



@media (max-width:421px) {
    .custum_header .my_img {
        border-radius: 100% !important;
        width: 30vh;
        height: 30vh;
        margin-left: auto;
        margin-right: auto;
        transition: .5s ease-out;

    }

    .custum_header .my_img:hover {
        width: 35vh;
        height: 35vh;

    }

    .custum_header .my_name_cont .my_name {
        color: var(--main-colour);
        display: inline;
        margin-left: 0;
        font-size: 3.5vh;
    }

    .custum_header .my_name_cont .my_self {
        margin-right: auto;
        position: static;
        /* Position text */
        font-size: 3.5vh;


    }

    .custum_header .hello {
        margin-right: auto;
        font-size: 1.5rem;
        margin-left: 0;


    }
}




@media (max-width:387px) {
    .custum_header .my_img {
        border-radius: 100% !important;
        width: 30vh;
        height: 30vh;
        margin-left: auto;
        margin-right: auto;
        transition: .5s ease-out;

    }

    .custum_header .my_img:hover {
        width: 35vh;
        height: 35vh;

    }

    .custum_header .my_name_cont .my_name {
        color: var(--main-colour);
        display: inline;
        margin-left: 0;
        font-size: 3.3vh;
    }

    .custum_header .my_name_cont .my_self {
        margin-right: auto;
        position: static;
        /* Position text */
        font-size: 3.3vh;


    }

    .custum_header .hello {
        margin-right: auto;
        font-size: 2rem;
        margin-left: 0;


    }
}

@media (max-width:350px) {
    .custum_header .my_img {
        border-radius: 100% !important;
        width: 20vh;
        height: 20vh;
        transition: .5s ease-out;

    }

    .custum_header .my_img:hover {
        width: 25vh;
        height: 25vh;

    }

    .custum_header .my_name_cont .my_name {
        color: var(--main-colour);
        display: inline;
        margin-left: 0;
        font-size: 3vh;
    }

    .custum_header .my_name_cont .my_self {
        margin-right: auto;
        position: static;
        font-size: 3vh;


    }

    .custum_header .hello {
        margin-right: auto;
        font-size: 1.3rem;
        margin-left: 0;


    }
}